.pageNavTop {
    background-color: white;
    padding:1rem 2rem;
    display: flex;
    justify-content: space-between;
}



.pageNavBottom {
    padding:.75rem 2.5rem;
    background-color:#edf0f4;
    align-items: center;
    margin-bottom: -1.5rem;
}

.rightSidePageNav {
    padding-right: 4rem;
    align-items: center;
}


.filterButtons {
    border: 1px solid gray;
    box-shadow:1px 1px 1px 1px;
}

.amount {
    font-weight: 700;
}