.accounts {
    padding: 2rem;
}
.account-list-headers {
  display: flex;
  gap: 10rem;
}

.account-list-headers li {
    width:15%;
    padding: 1rem;
    margin-left: -.2rem;
}

.account-list {
  list-style: none;
  padding: 0;
}

.account {
  display: flex;
  gap: 10rem;
  padding: 1rem;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
}
.account p {
    width:15%;
}

.account-list-headers li {
  font-weight: bold;
}