/* Colors for status  */

#Inprogress {
    color:rgb(255, 1, 158)
}

#Completed {
    color:rgb(3, 255, 3);
}

#Deffered {
    color:rgb(255, 174, 0);

}

#NotStarted {
    color:rgb(255, 0, 0);
}

#Waiting-for-input {
    color:rgb(0, 238, 255);
}


/* colors for priority  */
#Low {
    color:green;
}

#Mid {
    color:orange
}

#High {
    color:orangered;
}

#Highest {
    color:rgb(255, 0, 0);
}

/* colors for duedate message */

.due-today-message { color:red}
.due-tomorrow-message { color:orange}
.past-due-message { color: rgb(255, 0, 0)}