@tailwind base;
@tailwind components;
@tailwind utilities;
import 'tailwind.css';

li {
    list-style-type:none;
}

html {
    margin:0;
    padding:0;
    font-family: 'Barlow', sans-serif;
}

.background {
    background-color:#edf0f4;
    height:100%;
}

.checkItem {
    transform: scale(1.5); 
    margin-right:2rem;
}


#first-header {
    border-left:none;
    margin-left:3.5rem;
    margin-right:-3.5rem;
  }
