@tailwind base;
@tailwind components;
@tailwind utilities;
import 'tailwind.css';

li {
    list-style-type:none;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Barlow', sans-serif;
}
body {
    background-color:#edf0f4 !important;
}

.checkItem {
    transform: scale(1.5); 
    margin-right:2rem;
    z-index:999;
}

.record:hover {
    background-color:#f1f7ff;
}


#first-header {
    border-left:none;
    margin-left:3.5rem;
    margin-right:-3.5rem;
  }


.email {
    color: #0000EE;
}

.backBtn {
    font-size:2rem;
}

