.record-headers {
  display: flex;
  width:100%;
  gap: 10rem;
  border-bottom:3px solid #eef1f4;
}


.record-headers li {
  font-weight: bold;
  padding: 1rem;
  flex:1;
  border-left:1px solid #eef1f4;
  margin-left:1rem;
  font-size:1.2rem;
}


.record {
  display: flex;
  gap: 10rem;
  padding:.5rem 1rem;
  border-bottom:1px solid #eef1f4;
}

.record p {
    font-size:1.2rem;
    flex:1;
    padding:1rem 1rem;
}
#task-longer-headers {
  gap: 8rem;
}


.email {
  color: #0000EE;
}