.contacts {
    padding: 2rem;
    display:flex;
    gap:5rem;
}
.contact-list-headers {
  display: flex;
  gap: 10rem;
}

.contact-list-headers li {
    width:15%;
    padding: 1rem;
    margin-left: -.2rem;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact {
  display: flex;
  gap: 10rem;
  padding: .5rem;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
}
.contact p {
    width:15%;
}

.contact-list-headers li {
  font-weight: bold;
}


.sidebar {
  width: 200px; 
  background-color:white;
  transition: width 0.9s ease-in; 
  border-radius:1%;
}
.sidebar-open {
  width: 0; 
}

.mainContent {
  background-color:white;
  flex: 3; 
  padding: 20px; 
  border-radius:1%;
}

.sidebar-toggle-btn {
}